/*
Theme Name: SIWI Template
Theme URI: http://www.intelliweb.se/
Author URI: http://www.http://www.intelliweb.se/
Description:  HTML5
Author: http://www.intelliweb.se/
Version: 1.0
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline; }
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
        display: block; }
    body {
        line-height: 1; }
    ol, ul {
        list-style: none; }
    blockquote, q {
        quotes: none; }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none; }
    table {
        border-collapse: collapse;
        border-spacing: 0; }
    table.pad td {
    padding: 10px;
    }
        
    pre,code {
        white-space: normal;
        background-color: #ededed;
        border-bottom: 1px solid #d9d9d9;
        border-top: 1px solid #d9d9d9;
        display: block;
        width: 100%;
        font: 12px/24px Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
        margin: 5px 0;
        padding: 5px;
}
p code {display: inline;}
p{
	font-size: 13px;
	line-height: 1.4em;
	margin: 0 0 20px 0;
}
a{
	color:#006bb7;
}
a:hover,
.tagcloud a:hover,
.widget_categories ul li a:hover{
	text-decoration: underline;
}

body {
    background: #FFF url('images/bg.jpg') repeat-x bottom;
    height: 100%;
    line-height: 1.2em;
    -webkit-text-size-adjust: 100%;
    font-family:'Droid Sans', Arial, sans-serif;
}
.fr{ float: right;}
.fl{ float: left;}
.tc{text-align: center;}
.tl{text-align: left;}
.tr{text-align: right;}
.clear{clear:both;}

[class^="icon-"], [class*=" icon-"] {
  font-size: 21px;
}


/* @end */

/* @group Typography */
    
    

   	.entry-content h2 {line-height: 130%; margin-bottom: 10px;  color:#232326; font-family: Trebuchet MS , Arial, sans-serif; font-size: 24px;}
    .entry-content h3 {line-height: 130%; margin-bottom: 8px; color:#6895ce; font-size: 18px; font-family: 'Droid Sans', Arial, sans-serif; }
    h4 {line-height: 125%; margin-bottom: 8px; }
    h5 {line-height: 120%; margin-bottom: 8px;}

    .entry-content ul li{
		background: url('images/arrow_ul.png') no-repeat 0px 5px;
		padding: 0 0 0 10px;
		margin: 0 0 8px;
		font-size: 13px;
    }
    .entry-content ul,
    .entry-content ol{
    	margin:0 0 20px;
    }
    .entry-content ol li{
		padding: 0;
		margin: 0 0 4px;
		font-size: 13px;
		list-style: decimal inside none;
    }
    

    
    p { margin: 0 0 20px 0;}
    p img { margin: 0; }
    p.lead { font-size: 21px; line-height: 27px; color: #777;  }
    
    em { font-style: italic; }
    strong { font-weight: bold; color: #333; }
    small { font-size: 80%; }
    
/*  Blockquotes  */
    blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
    blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
    blockquote cite { display: block; font-size: 12px; color: #555; }
    blockquote cite:before { content: "\2014 \0020"; }
    blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }
    
    hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }

/*HEADER*/
.logo{
	margin:20px 0 0 -5px;
	float: left;
}
#header .search{
	float: right;
	margin: 45px 0 0 0;
}
/*NAVMENU*/
.main_navigation{
	margin: -11px 0 33px 0;
	float: right;
}
.main-menu{
	width: 100%;
	float: right;
}
.main-menu > li{
/*	background: url('images/arrow_down.png') no-repeat center bottom;*/
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0 0px 4px 0px;
	position: relative;
}	
.main-menu > li a.active,
ul.main-menu > li:hover > a{
	background: #FFF;
	padding: 8px 11px 7px;
	margin: 0 0 -1px;
	z-index: 9999;
	position: relative;
	border-bottom: none;
}
.main-menu li a{
	font-family: Trebuchet MS;
	color: #232326;
	font-size: 13px;
	text-decoration: none;
	padding: 8px 11px 7px;
	line-height: 1.4em;
}
.main-menu li ul.sub-menu{
	position: absolute;
	display: none;
	z-index: 999;
	background: white;
	padding: 10px;
	margin: 4px 0 0 0px;
	border: 1px solid #A7A9A9;
	width: auto;
}
.main-menu li ul.sub-menu li a{
	padding: 0px 5px 0 5px;
	word-wrap: break-word;
	width: 125px;
	float: left;
	word-break: normal;
}
.main-menu li ul.sub-menu li{
	margin: 0 0 3px;
	float: left;
}
.main-menu .current-menu-item a,
.main-menu .current-menu-parent a,
.main-menu .current-menu-ancestor a {
  font-weight: bold;
  color: #6895ce;
}


/*SLIDER*/
#slides{
    position:relative;
    margin:0 0 29px;
}
.slides_container {
    width:927px;
    height:290px;
}
.slides_container li {
	width: 927px;
	height: 290px;
	display: block;
	overflow: hidden;
}
/*.big_caption {
  background: rgba(2, 65, 108, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  height: 290px;
  width: 289px;
  z-index: 10;
}*/
.big_caption h1 {
	font-size: 24px;
/*  color: white;*/
	line-height: 1.2em;
	margin: 29px 0 0 0;
	font-family: "Trebuchet MS", Arial, sans-serif;
}
.big_caption p {
	font-size: 13px;
/*  color: white;*/
	line-height: 1.4em;
	margin: 0.5em 0 36px 0;
}
.caption {
	z-index: 500;
	position: absolute;
	bottom: 36px;
	left: 30px;
	padding: 9px 20px 8px 15px;
	background: #02416C;
	width: 357px;
}
.caption p{
	color: #FFF;
	line-height: 1.4em;
	margin: 0;
	font-size: 13px;
}
.caption a{
    color: #006bb7;
    font-size: 12px;
    text-decoration: underline;
    float: right;
    margin: 6px 13px 0 0;
    line-height: 1.2em;
}
.prev,
.next{
	background: black url('images/arrows.png') no-repeat -43px -1px;
	display: block;
	height: 31px;
	width: 28px;
	text-indent: -9999px;
	z-index: 9999;
	position: absolute;
	border-radius: 4px;
}
.prev{
	top: 226px;
	right: 15px;
}
.next{
    top: 226px;
    right: 46px;
    background-position: -1px -2px;
}
.pagination{
	position: absolute;
	right: 17px;
	bottom: 70px;
	z-index: 10;
}
.pagination li{
	display: block;
	margin:0 0 3px;
}
.pagination li a{
	background: url('images/slider_pagination.png') no-repeat 0 0;
	display: block;
	height: 12px;
	width: 12px;
	text-indent: -9999px;
}
.pagination li.current a{
	background-position: 0 -17px;
}

/*INDEX*/
.title_lined{
	background: transparent;
	padding: 0 11px 0 0;
	color: black;
	font-size: 24px;
	display: inline-block;
	vertical-align: top;
}
.title_lined.smaller{
	font-family: Trebuchet MS, Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 16px;
}
.title_line{
	display: block;
	width: 85%;
	height: 2px;
	background: #55809C;
	margin: 11px 0 0 0;
	float: right;
}
.title_line.smaller{
	height: 1px;
	background: #03416d;
}
.titles{
	display: block;
	float: left;
	width: 100%;
	height: 24px;
	margin: 0 0 20px;
}
.titles.page{
	margin: 0 0 31px;
}
.one_third.border{
	border:1px solid #f1efef;
}
.one_third.borderwhite{
	border:1px solid #FFF;
}
.news_area,
.resources_area{
	float: left;
	width: 100%;
}
.resources_area{
	margin: 10px 0 15px 0;
}
.news_area .one_third{
	min-height: 340px;
	max-height: 340px;
	background: #FFF;
}
.box_inside{
	padding:13px 10px 0;
}
.box_inside p{
	font-size: 13px;
	line-height: 1.4em;
}
.box_inside h3 {
	margin: 0 0 6px;
	min-height: 65px;
	width: 100%;

	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	float: left;
	max-height: 65px;
}

.box_inside h3 a{
	color:#232326;
	font-size: 18px;
	line-height: 1.2em;
	text-decoration: none;
}
.box_inside h3 a:hover{
	text-decoration: underline;
}
.tags_box{
	position: absolute;
	bottom: 5px;
	width: 240px;
	font-size: 11px;
	line-height: 1.3em;
}
.tags_box a{
	color:#000000;
	text-decoration: none;
	word-wrap: break-word;
}
.tags_box a:hover{
	text-decoration: underline;
}
a.view_post{
	position: absolute;
	bottom: 3px;
	font-family: 'Droid Sans', Arial, sans-serif;
	font-weight: bold;
	color:#0870b9;
	font-size: 12px;
	float: right;
	text-decoration: underline;
	right: 5px;
}
a.view_post:hover{
	text-decoration: none;
}
.title_resources{
	position: absolute;
	bottom: -20px;
	width: 100%;
	background: #6895ce;
}
.title_resources h3{
	color:#FFF;
	padding: 5px 10px;
}
.thumbnail-wrapper img{
	width: 290px;
	height: 140px;
	margin: -1px -1px 0;
}
.resources_area div.widget:last-child{
	margin: 0;
}
.widget_sp_image{
	position: relative;
	height: 199px;
	margin-bottom: 5px !important;
}
.sidebar_right .widget_sp_image h3.widget-title,
.resources_area .widget_sp_image h3.widget-title{
	background: #6895CE;
	color: white;
	font-family: Arial, sans-serif;
	font-size: 18px;
	z-index: 99;
	padding: 18px 10px;
	width: 268px;
	min-height: 13px;
	float: left;
}
/*SINGLE PAGE*/

.content_holder{
	border-top: 2px solid #e1eaf5;
	width: 622px;
	float: left;
	padding: 20px 0 0 0;
}
.main_single, .main_blog{
	float: left;
	width: 455px;
	padding: 0 0 10px;
	margin: 0 0 35px;
	position: relative;
}
.single .main_single{
	border-bottom: 1px solid #114C75;
}
.sidebar_left{
	width:147px;
	float: left;
	margin: 0 20px 20px 0
}
.sidebar_right{
	width:273px;
	float: right;
	margin:0 0 25px;
}
.content{
	float: left;
	width: 100%;
}
.entry-title{
	font-family: Trebuchet MS, Verdana, Arial, sans-serif;
	font-weight: bold;
	color: #6895CE;
	font-size: 28px;
	line-height: 1.2em;
	margin: 0 0 26px 4px;
}
.post_meta,
.post_meta a{
	color: black;
	font-size: 12px;
	line-height: 1.2em;
	text-decoration: none;
	margin: 0 0 10px 5px;
}
.post_meta a:hover{
	text-decoration: underline;
}
h3.area_title{
	font-family: Trebuchet MS, Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 1em;
	color: #000;
}
.area_ul{
	margin: 17px 0 0 0;
	border-top: 2px solid #e1eaf5;
	padding: 13px 0 0 2px;
}
.area_ul li{
	margin: 0 0 8px;
	line-height: 16px;
}
.area_ul a{
	font-family: Trebuchet MS, Verdana, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	text-decoration: none;
}
.area_ul a:hover{
	color:#006BB7
}
.area_title a{
	text-decoration: none;
	color:#6895ce;
}
.attachment-featured-single{
	margin: 0 0 10px;
}
.entry-content{
	padding: 0 0 10px 7px;
	margin: 0 0 10px;
}
.share_post{
	float: right;
	position: absolute;
	right: 0;
	bottom: 0;
}
.after_post .share_this{
	margin: 0 10px 0 0;
}
.download_file{
	float: left;
	font-size: 14px;
	color:#006bb7;
	font-family: 'Droid Sans', Arial, sans-serif;
	line-height: 1.2em;
	text-decoration: underline;
	font-weight: bold;
	margin: 0 0 0 7px;
}
.download_file:hover{
	text-decoration: none;
}
/*SEARCH*/
.search_input{
	background: #9cb9df;
	color: #FFF;
	border: none;
	padding: 11px 15px;
	outline: none;
	margin: 0 1px 0 0;
	width: 150px;
}
.search_submit{
	background:#9cb9df url(images/search_ico.png) no-repeat center center;
	text-indent: -9999px;
	padding: 11px;
	border:none;
	width: 40px;
	margin: 0 0 0 -1px;
}
.search_submit:hover{
	cursor: pointer;
}
input.search_input::-webkit-input-placeholder {
    color:    #FFF;
}
input.search_input:-moz-placeholder {
    color:    #FFF;
}
input.search_input:-ms-input-placeholder {
    color:    #FFF;
}
/*FOOTER*/
.footer{
	background: #02416c;
	width:100%;
	float: left;
	height: 287px;
}
.gray{
	background: #e1e3e4;
	display: block;
}
.footer_navigation li{
	display: inline-block;
	vertical-align: top;
}
.footer_navigation li > a{
	color:#dedede;
	font-size:13px;
	font-weight: bold;
	text-decoration: none;
}
h3.footer_title{
	color: white;
	font-size: 17px;
	font-weight: bold;
	margin: 34px 0 24px;
}
.footer_navigation li ul.children,
.footer_navigation ul.sub-menu{
	padding: 0 0 0 10px;
}
.footer_navigation li ul.children li,
.footer_navigation ul.sub-menu li{
	display: block;
}
.footer_navigation li ul.children li a,
.footer_navigation ul.sub-menu li a{
	font-weight: normal;
	font-size: 12px;
}
.footer_gray{
	background: #E1E3E4;
	width: 100%;
	display: block;
	float: left;
	padding: 15px 0 7px;
}
.footer_gray p{
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	margin: 0;
}
.footer_gray p a{
	color:#0e72ba;
	text-decoration: underline;
}
.footer_gray p a:hover{
	text-decoration: none;
}
.footer_navigation li.menu-item-426{
	width: 135px;
}
.footer_navigation li.menu-item-1419{
	width: 180px;
}
.footer_navigation li.menu-item-1431{
	width: 125px;
}
.footer_navigation li.menu-item-1440{
	width: 224px;
}
.footer_navigation li.menu-item-1449{}
.footer a:hover{
	color:#FFF;
}

/*WIDGETS*/
.widget_tag_cloud{
	background: transparent;
	padding: 10px 15px 46px 0px;
	margin: 0 0 38px 0;
	clear: both;
}
.tagcloud a{
	color: #03416D;
	font-family: Arial, sans-serif;
	text-decoration: none;
	line-height: 1.2em;
}
.widget_tag_cloud h3,
.sidebar_right .widget h3{
	color:#03416D;
	font-family: Arial, sans-serif;
	font-size: 18px;
}
.widget_categories{
	border: 1px solid #D1D1D1;
	padding: 37px 20px 16px 20px;
	margin: 0 0 38px 0;
}
.widget_categories ul{
	margin: 10px 0 0 0;

}
.widget_categories ul li{
	line-height: 1em;
	margin: 0 0 3px;
}
.widget_categories ul li a{
	font-family: Arial, sans-serif;
	font-size: 14px;
	color:#000;
	text-decoration: none;
}
.widget_grey > div{
	padding: 49px 0 44px;
	border: 1px solid #D5D5D5;
}
.widget_grey h3{
	font-size: 30px;
	color:#232326;
	font-family: Trebuchet MS, Verdana, Arial, sans-serif;
	font-weight: bold;
	line-height: 1.2em;
}
.widget_grey h3,
.widget_grey p{
	padding: 0 14px;
	margin: 0 0 4px;
}
.widget{
	margin-bottom: 25px;
}
.sidebar_right .widget_sp_image,
.sidebar_right .map_widget{
	width: 273px;
	margin-right: 0;
	padding: 0;
	position: relative;
	margin-bottom: 45px;
}
.sidebar_right .widget_sp_image img{
	width: 273px;
	float: left;
}
.sidebar_right .widget_sp_image h3.widget-title{
	width: 253px;
}
.home .widget_sp_image img{
	width: 288px;
	height: 144px;
	float: left;
}
.complex_widget_text{
	padding: 15px 10px 8px 10px;
	width: 253px;
	margin: -5px 0 -5px;
}
.complex_widget_text h3{
	font-family: Trebuchet MS, Verdana, Arial, sans-serif;
	font-size: 18px;
	color:#FFF;
	margin: 0 0 5px;
}
.complex_widget_sp_image img{
	width: 273px;
}
.complex_widget_text p{
	color: #FFF;
	margin: 0 0 10px 0;
}
.complex_widget_text a{
	color: white;
	font-size: 12px;
	display: block;
	text-align: right;
}
.complex_widget_sp_image,
.map_widget{
	margin:0 0 38px 0;
}
.widget_sp_image a{
	height: 148px;
}
.map_widget{
	border:1px solid #d1d1d1;
}
.map_widget h3{
	color: black;
	padding: 0 10px;
	font-family: Trebuchet MS, Verdana, Arial, sans-serif;
	font-weight: bold;
	margin: 13px 0 10px 0;
}
.map_widget p{
	padding: 0 10px;
	margin: 0 0 0px 0;
}
.map_widget a{
	font-size: 12px;
	display: block;
	text-align: right;
	margin: 0 10px 6px 0;
}
.custom_share_widget{
	display: block;
	border: 1px solid #D1D1D1;
	padding: 10px 14px 4px;
	margin: 0 0 38px 0;
}
.share_this{
	color: #68686A;
	font-size: 14px;
	float: left;
	line-height: 1.4em;
}
.sharez{
	float: right;
}
.icons span.a2a_img{
	display: inline-block;
	background: url(images/soc_icons.png) no-repeat !important;
	height: 24px;
	width: 24px;
}
.icons span.a2a_i_facebook{
	background-position: 0 0;
}
.icons span.a2a_i_twitter{
	background-position: -57px 0px !important;
}
.icons span.a2a_i_email{
	background-position: -29px 0px !important;
}
.icons span.a2a_i_a2a{
	background-position: -84px 0px !important;
}
.custom_twitter_widget h3{
	margin: -2px 0 0 0;
}
.custom_twitter_widget h3 a{
	margin: 0 0 0 5px;
	font-size: 14px;
}
.twtr-doc{
	margin: 13px 0 0 0;
}
.twtr-timeline{
	height: 150px !important;
}
.twtr-widget .twtr-tweet-wrap{
	padding: 6px 0 !important;
}
.twtr-tweet-wrap .twtr-tweet-text p{
	line-height:1.6em !important
}
.custom_twitter_widget.under_widget h3,
.custom_twitter_widget .under_widget a {
	font-size: 12px;
}
/*.custom_twitter_widget .under_widget i {
  font-size: 21px;
}*/
.custom_twitter_widget .under_widget span{
	font-size: 12px;
	font-weight: bold;
}
.custom_twitter_widget h3 a:hover,
.custom_twitter_widget .under_widget a:hover{
	text-decoration: none;
}
.gmap{
	height: 150px;
	width: 273px;
}
.flickr img{
	width: 60px;
	height: 60px;
	padding: 2px;
	border: 1px solid #F8F8F8;
}
.flickr li{
	display: inline-block;
	margin-right: 6px;
}
.flickr_widget h3{
	margin: 0 0 20px;
}
/*TABS*/
.tab_content div{
    display: none;
    background: #FFF;
}
.tab_content ul li{
    margin:0;
}
.tab_content div.active{
    display: block;
}
.tabs_nav{
    border-bottom: 1px solid #D5D5DA;
}
.tabs_nav li{
    display: inline-block;
    margin: 1px 0px -1px 0;
}
.tabs_nav li a{
	font-family: Trebuchet MS, Verdana, Arial, sans-serif;
	font-weight: bold;
    font-size: 16px;
	color: #232326;
    padding: 12px 5px 10px 18px;
    width: 106px;
    display: block;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}
.tabs_nav li.active a{
	padding: 12px 4px 10px 17px;
    border-top: 1px solid #D5D5DA;
    border-left: 1px solid #D5D5DA;
    border-right: 1px solid #D5D5DA;
	background: #FFF;
}
.tab_content ul{
    padding: 0 0 0 5px;
    margin:0;
}
.tab_content{
	margin: 0 0 45px;
}
.tab_content > div{
	border-bottom: 1px solid #D5D5DA;
	border-left: 1px solid #D5D5DA;
	border-right: 1px solid #D5D5DA;
	padding: 25px 10px 40px 11px;	
}
h3.tab_title{
    color:#353535;
    font-size: 22px;
    background: url('images/arrowdown.png') no-repeat left center;
    padding: 0 0 0 27px;
    margin: 0 0 14px;
}
span.tab_date{
	display: block;
	color: #8B8B8B;
	font-size: 11px;
	line-height: 16px;
	margin: 0 0 4px 0;
}
a.tab_link{
	font-family: Trebuchet MS, Verdana, Arial, sans-serif;
	font-weight: bold;
	color: #6895ce;
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
}
a.tab_link:hover,
a.more_link:hover{
    text-decoration: none;
    cursor: pointer;
}
a.more_link{
    background: url('images/pink_arrow.png') no-repeat left center;
    padding: 0 0 0 14px;
    color: #D40BE0;
    font-size: 12px;
    text-decoration: none;
    margin: 12px 0 0 10px;
    float: left;
}
.tab_content p{
	color: #232326;
	font-size: 13px;
	line-height: 1.4em;
	margin: 7px 0 8px 0;
}
/*ARCHIVE */
.posts_archive{
	float: left;
	border-bottom: 1px solid #6895CE;
	padding: 0 0 20px 0;
	margin: 0 0 25px 0;
	width: 100%;
}
.posts_archive p{
	margin: 0 0 7px;
}
.archive_tags_box{
	font-size: 11px;
	color:#006bb7;
	line-height: 1.2em;
}
.archive_post_meta{
	font-size: 11px;
	color:#232326;
	line-height: 1.2em;
}
.archive_post_meta a{
	color: #232326;
	text-decoration: none;
	margin: 0 3px 0 0;
}
h2.archive-title{
	margin: 0 0 4px;
}
h2.archive_title a{
	color:#232326;
	font-family: Trebuchet MS, Verdana, Arial, sans-serif;
	font-weight: bold;
	line-height: 1.2em;
	font-size: 18px;
	text-decoration: none;
}
h2.archive_title a:hover{
	text-decoration: underline;
}
h2.archive-title{
	color:#6895ce;
	font-family: Trebuchet MS, Verdana, Arial, sans-serif;
	font-size: 28px;
	line-height: 1.2em;
	margin: 0 0 35px;
}
/*TWITTER WIDGET HACKS*/
a.twtr-join-conv,
.twtr-ft,
.twtr-tweet-text p em,
.twtr-hd{
	display: none !important;
}
.twtr-tweet-text p{
	font-size:12px !important;
	line-height: 1.2em;
}
.twtr-widget .twtr-tweet{
	border:none !important;
}
.selectnav{
	display: none;
	padding: 6px;
}
.wp-pagenavi{
	color: #03416D;








	font-family: Trebuchet MS, Verdana, Arial, sans-serif;
	display: block;
	font-size: 18px;
	width: 270px;
	margin: 0 auto;
	text-align: center;
}
span.current,
a.page{
	font-size: 18px;
	color: #03416D;
	font-family: Trebuchet MS, Verdana, Arial, sans-serif;
	text-decoration: none;
	margin: 0 2px;	
}
a.nextpostslink,
a.previouspostslink{
	background: url(images/arrows_pagination.png) no-repeat 0 0;
	display: inline-block;
	width: 7px;
	height: 19px;
	text-indent: -9999px;
	margin: 0 6px;
}

a.nextpostslink{
	background-position: -13px 4px;	
}
a.previouspostslink{
	background-position: 0px 3px;
}
.under_widget h3{
	font-size: 12px;
	margin: 10px 0 8px 0;
}
.slides_control li img{
	width: 100%;
}
.entry-content h1,
.entry-content h3{
	line-height: 1.2em;
	margin-bottom: 8px;
}
.sidebar_right #twtr-widget-1 .twtr-doc{
	background: transparent !important;
}
.lt-ie9 .container #widget_sp_image-4,
.lt-ie9 .container #custom_twitter_widget-2{
	margin-right:0 !important;
}
.lt-ie9 .big_caption{
	background: #03416D; 
}
ul.main-menu > li:hover ul.sub-menu{
	display: none;
}
.no_image{
	width: 100px;
	margin: 0 0 0 -10px;
}
.publications_download{
	float: left;
}
.after_post{
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: auto;
}
#text-5{
	color: #FFF;
	background: #6895CE;
	padding: 14px 20px 8px;
	float: left;
}
#text-5 .widget-title{
	color:#FFF;
	margin:0 0 3px;
}
#text-5 .textwidget{
	margin-bottom: 5px;
}
#text-5 p{
	margin-bottom: 0;
}
#text-5 a{
	color:#FFF;
	text-decoration: underline;
}
/*CONTACT WIDGETS*/

#text-7,
#text-8,
#text-9,
#text-13,
.person_widget{
	border: 1px solid #e1eaf5;
	float: left;
	width: 255px;
	padding: 0 4px 4px 14px;
}
#text-7 a,
#text-8 img,
#text-9 img,
div.img_left img{
	float: left;
}
div.img_left img{
	width: 100px;
}
#text-7 h3.widget-title,
#text-8 h3.widget-title,
#text-9 h3.widget-title{
	color: #232326;
	font-size: 18px;
	float: right;
	margin: 16px 75px 35px 0;
}
.text_right h3.widget-title{
	color: #232326;
	font-size: 18px;
	margin: 16px 0 15px 0;
}
#text-7 p,
#text-8 p,
#text-9 p,
div.text_right p{
	margin: 0; 
}
#text-7 b,
#text-8 b,
#text-9 b,
div.text_right b{
	font-size: 13px;
	color:#232326;
	font-weight: bold;
	font-family: 'Droid Sans', Arial. sans-serif;
}
#text-7 span,
#text-8 span,
#text-9 span,
div.text_right span{
	font-size: 11px;
	color: #232326;
	font-family: 'Droid Sans', Arial, sans-serif;
	width: 145px;
	float: left;
	word-break: break-all;
	margin: 1px 0 0 0;
}
div.img_left{
	width: 100px;
	float: left;
	margin: 19px 12px 11px 0;
}
div.text_right{
	float: left;
	width: 140px;
	margin: 0 0 0 3px;
}
#text-9,
#text-8,
#text-5,
.widget.person_widget{
	margin-bottom: 36px;
}
/*.page-child #sub-page-menu .area_ul > li{
	display: none;
}
.page-child #sub-page-menu .area_ul > li.current_page_item,
.page-child #sub-page-menu .area_ul > li.current_page_ancestor  {
	display: block;
}
.page-child #sub-page-menu .area_ul li.current_page_item.first_level > a,
.page-child #sub-page-menu .area_ul li.current_page_ancestor.first_level > a{
	font-family: 'Akzidenz', sans-serif;
	font-size: 16px;
	line-height: 1em;
	color: black;
	border-bottom: 1px solid black;
	display: block;
	padding: 0 0 10px;
	margin: 0 0 10px;
}*/

.page-child #sub-page-menu .area_ul li.current_page_item > ul.children,
.page-child #sub-page-menu .area_ul li.current_page_ancestor > ul.children{
	padding: 10px 0 0px 10px;
}
.page-child #sub-page-menu .area_ul li.current_page_item > a,
.page-child #sub-page-menu .area_ul li.current_page_ancestor > a{
	color:#6895ce;
	font-weight: bold;
}
.page-child #sub-page-menu .area_ul li.current_page_item > ul.children a,
.page-child #sub-page-menu .area_ul li.current_page_ancestor > ul.children a{
	color:#6895ce;
}
.resources_area.interact{
	margin: 30px 0 15px 0;
}
#menu-item-4845{
	margin:0 0 0 20px;
}
.fb-like {
	margin: 10px 15px 0;
}
.tags_wrapper a{
	color: #006bb7;
	text-decoration: underline;
	display: inline-block;
	margin: 0 0 0 2px;
}
.tags_wrapper{
	float: left;
	width: 100%;
	margin: 7px 0 20px 0;
	line-height: 1.6em;
}
.feed_search{
	float: left;
	width: 100%;
	margin: -20px 0 40px 0;
}
.feed_search .feed_search_input{
	height: 21px;
	width: 384px;
	font-style: italic;
	float: left;
	margin: 0 2px 0 0;
}
.feed_search .search_submit{
	height: 43px;
}
.page .title_line.smaller{
	width: 71%;
	background: #e1eaf5;
	height: 3px;
}
.page .title_lined.smaller{
	color: #6895ce;
}
.sidebar_right .widget_sp_image,
.home .widget_sp_image{
	border: 1px solid #edecec;
}
.sidebar_right .widget_sp_image a,
.home .widget_sp_image a{
	border: none;
}
.sidebar_right .widget_sp_image h3.widget-title,
.home .widget_sp_image h3.widget-title{
	background: #6895CE;
	color: #FFF;
	font-size: 18px;
	font-family: Arial, sans-serif;
	font-weight: normal;
	min-height: 26px;
}
.contact_widget li{
	border: 2px solid #e1eaf5;
	float: left;
	margin-bottom: 32px;
	padding: 20px 13px;
	background: #FFF;
	width: 244px;
}
.contact_widget img{
	float: left;
}
.widget .contact_widget h3 {
	color: #006bb7;
	font-family: Trebuchet, sans-serif;
	font-weight: normal;
	font-size: 18px;
	margin: 13px 0 0 0;
	float: right;
	width: 130px;
	text-align: left;
}
.widget .contact_widget h4{
	color: #232326;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial, sans-serif;
	margin: 19px 0 0 0;
}
.contact_widget span {
	font-size: 14px;
	color: #232326;
	font-family: Arial, sans-serif;
	width: 100%;
	float: left;
	word-break: break-all;
	margin: 1px 0 0 0;
	line-height: 16px;
}
.project_box{
	border:1px solid #d1d1d1;
	background: #FFF;
	float: left;
	width: 100%;
	clear: both;
	margin-bottom: 35px;
}
.project_box_inside{
	padding: 26px 20px 10px 18px;
}
.project_box_inside,
.project_box_inside p{
	color: #232326;
	font-size: 14px;
	margin-bottom: 10px;
}
.project_box_inside p:empty {
	display: none;
}
.project_box_inside p:last-child{
	margin-bottom: none;
}
.titles.page.projects{
	margin-bottom: 28px;
	position: relative;
}
.projects h3.title_lined.smaller{
	font-size: 18px;
}
.entry-content .staff_members a{
	font-size: 12px;
	width: 150px;
	display: inline-block;	
	vertical-align: top;
	margin-bottom: 8px;
}
.entry-content .staff_members span.span1{
	font-size: 12px;
	display: inline-block;
	width: 280px;
	vertical-align: top;
	margin-bottom: 8px;
}
.projects .title_line.smaller {
	max-width: 70%;
	background: #e1eaf5;
	height: 3px;
	float: right;
	position: absolute;
	right: 0;
}
.projects .title_lined.smaller{
	float: left;
	max-width: 160px;
}
.home .widget_sp_image h3.widget-title{
	min-height: 38px;
}

/*
 *	SINGLE POST
 */

.main_blog .post_meta, 
.main_blog .post_meta a{ color: #6895ce; font-size: 11px;	margin: 0; line-height: 17px;}
.main_blog .post_meta{margin-left: 5px;}
	.main_blog .post_meta a.author{background-color: #99ccff; color: #ffffff; border-radius: 3px; padding: 0 3px;}
	.main_blog .post_meta .category{font-weight: bold;}
	.main_blog.main_single .post_meta .tags_wrapper{width: 100%;}
		.main_blog.main_single .post_meta .tags_wrapper a{text-decoration: none;}
.main_blog .entry-title, .main_blog .entry-title a{margin-bottom: 0; color: #6895CE; line-height: 28px; font-size: 25px;}
.main_blog .entry-title{margin-bottom: 5px;}

.main_blog.main_single{border-bottom: 0 none;}
.main_blog.main_single .type-post{border-bottom: 1px solid #99ccff; margin-bottom: 35px;}


.main_blog.main_single .share_post{position: absolute;float: right;}
.main_blog.main_single .entry-content{ border-bottom: 0 none; margin-bottom: 30px;}
	.main_blog.main_single .entry-content > p{width: auto;}

.clearline{width: 100%; height: 0; margin: 10px 0 5px; border-bottom: 1px solid #99ccff;}

/*
 * AUTHOR BOX
 */

.author_box{padding-top: 6px; font-size: 15px;}
 .author_box .thumbnail{float: left; margin-right: 16px; margin-top: -6px;}
 .author_box .phone{clear: left;}

 .author_box .author_title{font-size: 14px; color: #ffffff; padding: 2px 5px; background-color: #99ccff; border-radius: 3px; line-height: 17px; margin: 0 72px 0 117px;}
 .author_box .author_fullname{font-size: 15px; margin-top: 15px; font-weight: bold;}
 .author_box .user_title{font-size: 15px; color: #6895ce;}
 .author_box .author_phone{clear: left;}
 .author_box .author_bio{margin-top: 17px;}

 /*
  * TWITTER HASHTAG BOX 
  */

.widget#post_hashtag{margin-bottom: 0;}
.widget_tweetblender .widget_tweetblender{border: 0 none;}
.widget_tweetblender .widget_tweetblender > div{padding: 0;}

.widget_tweetblender{border: 4px solid #99ccff; border-radius: 4px; padding: 0; font-size: 13px;}
	.widget_tweetblender h3{padding-bottom: 7px; line-height: 38px; color: #ffffff; padding-left: 37px; background: url("images/tweety_bird.png") no-repeat 10px 11px #99ccff; font-size: 22px;}
	.widget_tweetblender > div{background-color: #ffffff; padding: 20px 22px 0;}
	.widget_tweetblender .tb_author, .widget_tweetblender .tb_header{display: none;}
	.widget_tweetblender .tb_photo{margin: 0 10px 0 0;}
	.widget_tweetblender .tb_tweetlist{border-bottom: 0 none;}
	.widget_tweetblender .tb_tweet{border-top: 0 none; margin-bottom: 10px;}
		.widget_tweetblender .tb_tweet a{color: #6895ce;}
	.widget_tweetblender .tb_footer{height:30px; margin-bottom: 0; border: 0 none;}
		.widget_tweetblender .tb_footer a{height:30px; margin-bottom: 0; border: 0 none; font-size: 13px; text-decoration: none; color: ##6895CE;}
			.widget_tweetblender .tb_footer a:hover{text-decoration: underline;}
	.sidebar_right .widget_tweetblender h3{color: #ffffff; font-size: 22px; line-height: 38px;}

/*
 * All authors
 */

.content_holder.blog{border-top: 0 none; padding-top: 0;}

/*.archive #blog_banner{display: none;}*/
#blog_banner{margin-bottom: 10px;}
	#blog_banner img{width: 100%;}

.main_blog .share_post{position: relative; float: left;}
	.main_blog .share_post .icons span.a2a_img{width: 22px;}

.main_blog .blog-thumb{float: right; margin-left: 20px;}
	.main_blog .blog-thumb img{margin-bottom: 20px;}
.main_blog h1{margin-bottom: 10px;}
.main_blog h1 a{text-decoration: none; color: ##6895CE;}
.main_blog .entry-content{padding-bottom: 0; margin-bottom: 0; border-bottom: 1px solid #99ccff; margin-bottom: 20px;}
	.main_blog .entry-content > p{width: 260px;}

.main_blog .post_meta{margin-bottom: 10px;}
.main_blog .tags_wrapper{width: auto; margin-bottom: 10px;}

.main_blog .readmore{width: 81px; height: 17px; float: left; padding: 0 0 0 22px;}
.main_blog .readmore a{display: block; border-radius: 3px; background-color: #99ccff; text-align: center; color: #ffffff; text-decoration: none; line-height: 17px; font-size: 14px; height: 17px;}

.blog_left{font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight: bold;}

.blog_left .widget_siwi_nav_menu h3{padding: 18px 0 12px 13px; background-color: #6895ce; color: #ffffff; font-size: 25px; border-radius: 3px; margin-bottom: 12px; font-weight: normal;}
	.blog_left .widget_siwi_nav_menu h3 a{color: #ffffff; text-decoration: none;}
		.blog_left .widget_siwi_nav_menu h3 a:hover{text-decoration: underline;}
	.blog_left .widget_siwi_nav_menu li{padding-left: 14px; }
	.blog_left .widget_siwi_nav_menu li a{line-height: 24px; font-size: 15px; color: #323131; text-decoration: none; }
	.blog_left .widget_siwi_nav_menu li.current-menu-item a{color: #6895ce;}


.blog_left .blog_authors_widget h3{padding: 10px 0 9px 13px; background-color: #99ccff; color: #ffffff; font-size: 19px; line-height: 19px; border-radius: 3px; margin-bottom: 10px; font-weight: normal;}
.blog_left .blog_authors_widget h3.cat_title{background-color: #6895ce; margin-bottom: 0;}
	.blog_left .blog_authors_widget h3 a{text-decoration: none; color: #ffffff;}
	.blog_left .blog_authors_widget h3 a:hover{text-decoration: underline;}
.blog_left .blog_authors_widget ul{padding-top: 10px;}
	.blog_left .blog_authors_widget ul li{padding-left: 14px; margin-bottom: 14px;}
	.blog_left .blog_authors_widget ul li a{line-height: 20px; font-size: 14px; color: #323131; text-decoration: none;}
	.blog_left .blog_authors_widget ul li.current-cat a{color: #6895ce;}

/*
 * Blog pagination
 */

.main_blog .wp-pagenavi a, .main_blog span.current{font-size: 15px; color: #03416D;}
.main_blog a.nextpostslink, .main_blog a.previouspostslink{width: auto; height: auto; display: inline;}
	.main_blog a.nextpostslink{padding-right: 13px; background: url("images/pagenavi_next.png") no-repeat 100% 8px;}
	.main_blog a.previouspostslink{padding-left: 13px; background: url("images/pagenavi_prev.png") no-repeat 0 8px;}

.main_blog span.current{color: #99ccff;}

/*
 * Custom PRIZES styles
 */

body.page-id-462 h1 {display: none;}
body.root-pageid-462 h1 {
  font-size: 26px;
  color: #006bb7;
  text-transform: uppercase;
  width: 100%;
  font-weight: 600;
  padding: 0 5px 15px;
  margin: 0;
}
body.root-pageid-462 p,
body.root-pageid-462 ul li {
  color: #444;
  font-size: 0.85em;
}

body.page-id-462 table,
table.swp {
  float: left;
  width: 100%;
  margin: 10px 0 20px;
  font-size: 0.85em;
}
table.swp tr th {
  width: 100px;
  padding: 0 10px 0 0;
}
body.page-id-462 table tr td {
  font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
}
body.page-id-462 table tr td img {
  vertical-align: bottom;
}
table.swp tr th img {
  vertical-align: top;
}
body.page-id-462 table tr td.pr-header {
  font-size: 20px;
  color: #006bb7;
  text-transform: uppercase;
  width: 80%;
  line-height: 1.1em;
  font-weight: 600;
  padding: 0 20px 10px 0;
}
body.page-id-462 table tr td.pr-header a {
  text-decoration: none;
}
body.page-id-462 table tr td.pr-more {
  width: 20%;
  text-align: right;
}
body.page-id-462 table tr td.pr-caption {
  background: #882990;
  color: #fff;
  padding: 5px 10px;
}
body.page-id-462 table tr td.pr-post {
  color: #999;
  padding: 10px 0;
  font-size: 90%;
}
table.swp tr td.swp-year {
  color: #6895ce;
  font-weight: bold;
  font-size: 18px;
  vertical-align: top;
}
table.swp tr td.swp-name {
  color: #999;
  font-weight: bold;
  font-size: 16px;
}
table.swp tr td.swp-more a {
  color: #6895ce;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 0 0;
  display: block;
}
table.swp tr td.swp-more a:hover {
  text-decoration: underline;
}

body.root-pageid-462 div#sub-page-menu.widget h3.area_title {
  background: #006bb7;
  padding: 10px;
  text-transform: uppercase;
  line-height: 1.2em;
}
body.root-pageid-462 div#sub-page-menu.widget h3.area_title a {
  color: #fff;
  text-decoration: uppercase;
}
body.root-pageid-462 div#sub-page-menu.widget ul {
  padding: 5px 0 0;
  margin: 0;
}
body.root-pageid-462 div#sub-page-menu.widget ul li {
  border-bottom: 1px solid #bfdaed;
  margin: 0;
}
body.root-pageid-462 div#sub-page-menu.widget ul li a {
  color: #006bb7;
  padding: 10px;
  display: block;
}
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_item,
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_ancestor,
body.root-pageid-462 div#sub-page-menu.widget ul li a:hover {
  background: #1377bf;
  color: #fff;
}
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_item a,
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_ancestor a,
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_ancestor ul li.current_page_item a {
  color: #fff;
  padding: 10px;
  display: block;
}
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_ancestor ul li.current_page_item a,
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_ancestor ul li.current_page_ancestor a {
  background: #4d92c3;
  padding: 10px;
  border-bottom: 1px solid #fff;
}
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_item ul,
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_ancestor ul,
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_ancestor ul li.current_page_ancestor ul {
  background: #f4f9fd;
  padding: 0 !important;
}
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_item ul,
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_ancestor ul li.current_page_ancestor ul {
  padding: 0;
}
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_item ul li a,
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_ancestor ul li.current_page_ancestor ul li a{
  padding: 10px;
  border: none;
}
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_item ul li a:hover {
  color: #fff;
}
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_ancestor ul li a:hover,
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_ancestor ul li.current_page_ancestor a:hover,
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_ancestor ul li.current_page_ancestor a {
  background: #4d92c3;
  color: #fff;
}
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_ancestor ul li.current_page_item ul li,
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_ancestor ul li.current_page_ancestor ul li {
  padding: 0;
  margin: 0;
}
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_ancestor ul li.current_page_item ul li a,
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_ancestor ul li.current_page_ancestor ul li a {
  background: #cde4f5;
  padding: 5 10px;
  margin: 0;
  color: #4d92c3;
}
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_ancestor ul li.current_page_item ul li a:hover,
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_ancestor ul li.current_page_ancestor ul li a:hover,
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_ancestor ul li.current_page_ancestor ul li.current_page_item a {
  background: #93bad5;
  padding: 5 10px;
  margin: 0;
  color: #fff;
}
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_ancestor ul li.current_page_ancestor ul li.current_page_item ul li a,
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_ancestor ul li.current_page_ancestor ul li.current_page_ancestor ul a  {
  background: #dceaf3;
  padding: 5 10px;
  margin: 0;
  color: #93bad5;
}
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_ancestor ul li.current_page_ancestor ul li.current_page_ancestor ul li.current_page_item a,
body.root-pageid-462 div#sub-page-menu.widget ul li.current_page_ancestor ul li.current_page_ancestor ul li.current_page_ancestor ul li a:hover {
  background: #eceaf3;
  color: #999;
}
.content_holder p,
.entry-content ul li {
  font-size: 0.85em;
  color: #444;
}