.container{
	width:927px;
	margin: 0 auto;
	position: relative;
}
.full_width{
	width: 100%;
}
.clear{
	clear: both;
}
.one_half { width: 48%; }
.one_third { width: 288px; }
.two_thirds { width: 65.33%; }
.one_fourth { width: 22%; }
.three_fourths { width: 74%; }
.one_fifth { width: 16.8%; }
.two_fifth { width: 37.6%; }
.three_fifth { width: 58.4%; }
.four_fifth { width: 67.2%; }
.one_sixth { width: 13.33%; }
.five_sixth { width: 82.67%; }

.one_half,
.one_third,
.two_thirds,
.three_fourths,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
	position: relative;
	margin-right: 3%;
	margin-bottom: 20px;
	float: left;
}


.last {margin-right:0 !important;}