

/* =Tablet (Portrait) - Width of 768px

-------------------------------------------------------------- */



@media only screen and (min-width: 768px) and (max-width: 959px) {

#menu-topmenu,#menu-footermenu { display: none; }

.selectnav { display: block; }



.container,

.slides_container,

.slides_container li{

	width: 760px;

}



.slides_control li img{

	width: 760px;

}

.big_caption h2 {

	font-size: 24px;

}

/*.big_caption,*/

.slides_container,

.slides_container li {

	height: 238px;

}

.caption{

	top:135px;

}

.next, .prev {
  top: 190px;
}

.news_area .one_third,

.one_third,

.home .widget_sp_image img{

	width: 236px;

}

.thumbnail-wrapper img{

	width: 236px;

}

.widget_sp_image h3.widget-title{

	width: 216px;

}

/*REVISIT THIS*/

.sidebar_left{

	display: none;

}

.content_holder,

.attachment-featured-single{

	width: 450px;

}

.entry-content img{

	max-width: 100%;

}

}



/* =Mobile - Width of 320px

-------------------------------------------------------------- */



@media only screen and (max-width: 767px) {

.feed_search .feed_search_input{

	width: 77%;

	font-size: 10px;

}

#menu-topmenu,#menu-footermenu { display: none; }

.selectnav { display: block; margin: 15px 0 0; }

.logo{

	float: none;

	margin: 20px auto 0;

}

#header{

	text-align: center;

}

.search{

	float: none;

	margin: 20px auto 20px;

}

.search_input{

	width: 244px;

}

.selectnav{

	width: 318px;

}

.main_navigation{

	margin: 0px 0 20px 0;

}

.container,

.slides_container,

.slides_container li{

	width: 320px;

}

.slides_control li img{

	width: 320px;

}

.big_caption h2{

	font-size: 24px;

}



.slides_container,

.slides_container li{

	height: 100px;

}

.big_caption {

	position: relative;

	width: 320px;

/*  height: 160px;*/

	padding: 1px 0;

}
  .big_caption h1 {
    margin-top: 18px;
  }

.caption{

	display: none;

}

.prev, .next {
  top: 102px;
}
.prev {
  right: 0;
}
.next {
  right: 31px;
}

.pagination {
  top: 6px;
  right: 6px;
}

.news_area .one_third,

.one_third,

.home .widget_sp_image img{

	width: 320px !important;

}

.thumbnail-wrapper img{

	width: 320px;

}

.title_line {
  width: 75%;
}

.widget_sp_image h3.widget-title,

.sidebar_right .widget_sp_image h3.widget-title,

.complex_widget_text{

	width: 300px !important;

}

/*REVISIT THIS*/

.sidebar_left{

	display: none;

}

.content_holder,

.attachment-featured-single,

.main_single,

.main_blog,

.sidebar_right,

.sidebar_right .widget_sp_image,

.sidebar_right .widget_sp_image img,

.complex_widget_sp_image img{

	width: 320px;

}

.footer{

	height: 100px;

}

.widget_sp_image{

	margin-bottom: 25px !important;

}

h3.footer_title{

	margin: 10px 0;

}

.gmap {

	height: 200px;

	width: 300px;

}

.entry-content img{

	max-width: 100%;

}

.footer_gray .container {

	text-align: center;

}

.footer_gray .container p{

	margin: 5px 0;

	text-align: center;

}

.footer_gray .container p.fr,

.footer_gray .container p.fl{

	float: none;

	margin: 5px auto;

}

iframe{

	max-width: 100%;

}

}